html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background-color: #34495E;
}

.container {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 200px;
}
.demo-description {
	color: #dae1e7;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 1.6em;
	margin-bottom: 30px;
}
.demo-description p {
	margin-bottom: 0;
}
.demo-description small {
	font-size: 60%;
	color: #9dafbf;
}

.nav-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.nav-item {
	display: inline-block;
	padding: 0 10px;
}
.nav-item a {
	color: #587590;
	font-family: 'Nunito', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
	-webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-item a:hover {
	color: #fff;
}

.btn-group {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

.btn {
	background-color: #dd2c00;
	border: none;
	padding: 15px 50px;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 14px;
	color: #fff0e2;
	font-family: Nunito, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	border-radius: 50px;
	font-weight: 400;
	border: 1px solid transparent;
	-webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn:hover,
.btn:active {
	outline: 0;
	background-color: #ba2b00;
}

.icon {
	margin-right: 8px;
}